<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}WorkInZen!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <meta name="google-site-verification" content="O8e8w3lCJkLMjPtYuGwP_snLOBtWinaHVtG01jS_xyY" />
</head>
<body>
    <header>
        <img src="{{ asset('images/workinzen-logo.png') }}" alt="Workinzen logo">
    </header>
    {% block body %}{% endblock %}
    {% block javascripts %}{% endblock %}
</body>
</html>
