{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <h1>Travailler autrement</h1>
        <div>
            <h2>Entreprises</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer eu mi gravida, vehicula arcu imperdiet, tempus leo. Maecenas velit nisl, facilisis ut hendrerit in, semper at turpis. Aliquam condimentum nisi eu diam euismod finibus. In feugiat odio eu purus pulvinar, et aliquet augue tincidunt. Maecenas blandit quis ante non ultricies. Sed quis accumsan nibh. Suspendisse ultricies interdum dapibus.</p>
        </div>
        <div>
            <h2>Praticiens</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer eu mi gravida, vehicula arcu imperdiet, tempus leo. Maecenas velit nisl, facilisis ut hendrerit in, semper at turpis. Aliquam condimentum nisi eu diam euismod finibus. In feugiat odio eu purus pulvinar, et aliquet augue tincidunt. Maecenas blandit quis ante non ultricies. Sed quis accumsan nibh. Suspendisse ultricies interdum dapibus.</p>
        </div>
        <div>
            <h2>Incrivez vous !</h2>
            {% for message in app.flashes('info') %}
                <div class="flash-notice">
                    {{ message }}
                </div>
            {% endfor %}

            <form name="signup" method="post" action="{{ url('signup') }}">
                <input name="fullName" type="text" placeholder="Votre nom complet" required>
                <input name="email" type="email" placeholder="Votre adresse email" required>
                <input type="submit" name="signup" value="Wiz">
            </form>
        </div>
    </div>
{% endblock %}