{% extends 'base.html.twig' %}
{% block body %}
<section class="main-block flex-center">
  <div class="shadow"></div>
  <div class="main-content flex-spb col-wh">
    <img src="{{ asset('images/workinzen-logo-short.png') }}" alt="Workinzen logo short">
    <h1>Workinzen, tout simplement</h1>
    <h2 class="chapo col-dwh">
      Pour travailler dans un environnement sain et apaisant
      où vous voulez offrir, Lorem ipsum dolor sit amet, consectetur
      adipiscing elit sed do eiusmod.
    </h2>
    <ul class="button-list">
      <li class=""><a class="tt-uc col-wh button call-to-action" href="{{ url('practitioner') }}">Je suis un professionnel</a></li>
      <li class=""><a class="tt-uc col-wh button call-to-action" href="{{ url('company') }}">Je suis une entreprise</a></li>
    </ul>
  </div>
</section>
{% endblock %}
