{% extends 'base.html.twig' %}
{% block body %}
<section class="intro-block flex-center">
  <div class="shadow"></div>
  <div class="intro-content flex-spb col-wh">
    <img src="{{ asset('images/workinzen-logo-short.png') }}" alt="Workinzen logo short">
    <h1>Workinzen, tout simplement</h1>
    <h2 class="chapo col-dwh">
      Pour travailler dans un environnement saint et apaisant
      ou vous voulez offrir, Lorem ipsum dolor sit amet, consectetur
      adipiscing elit sed do eiusmod.
    </h2>
    <ul class="button-list">
      <li class=""><a class="tt-uc col-wh button call-to-action" href="{{ url('practitioner') }}">Je suis un professionnel</a></li>
      <li class=""><a class="tt-uc col-wh button call-to-action" href="{{ url('company') }}">Je suis une entreprise</a></li>
    </ul>
  </div>
</section>
<div class="footer-shadow shadow"></div>
<footer>
  <div class="brand-wrapper">
    <img class="footer-logo" src="{{ asset('images/workinzen-logo-short.png') }}" alt="Workinzen logo">
    <div class="contact-wrapper flex-spb">
      <p class="contact-name tt-uc col-wh">Workinzen</p>
      <a class="col-dwh" href="mailto:contact@workinzen.fr">contact@workinzen.fr</a>
    </div>
  </div>
  <div class="credit-wrapper flex-spb">
    <ul class="social">
      <li class="tt-uc"><a class="col-wh" href="">FB</a></li>
      <li class="tt-uc"><a class="col-wh" href="">TW</a></li>
      <li class="tt-uc"><a class="col-wh" href="">Instagram</a></li>
    </ul>
    <p class="fs-sm tt-uc col-dwh">© 2017 Workinzen. Tous droits réservés</p>
  </div>
</footer>
{% endblock %}
