{% extends 'base.html.twig' %}
{% block body %}
  <section class="main-block flex-center">
    <div class="shadow"></div>
    <div class="main-content flex-spb col-wh">
      <h1>Mentions légales</h1>
    </div>
  </section>
{% endblock %}